/* Path's */
$url-fonts: '/assets/fonts';

/* Font Family */
$font-primary-family: 'DidactGothic', sans-serif;
$font-color: #4c4c4c;

/* Main Colors */
$primary-color: #ff7800;
$secundary-color: #002a8d;

/* Basic Colors */
$cl-white: #fff;
$cl-black: #000;
$cl-gray-1: #d8d8d8;
$cl-transparent: transparent;
$cl-red: red;
$cl-green: green;
$cl-rating: #ffa500;
$cl-blue: #3d77ff;

/* Font Weight */
$fw-light: 200;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;
