*:focus {
  outline: none;
}

body {
  line-height: 1;
  font-size: 16px;
  color: $font-color;
  background-color: $cl-white;
  font-family: $font-primary-family;
}

h1, h2, h3, h4,
h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

form {
  width: 100%;

  label {
    width: 100%;
    margin-bottom: 5px;
    color: $secundary-color;
  }

  input {
    width: 100%;
    padding: 5px;
    border-width: 0 0 1px 0;
  }
}

button {
  &:disabled {
    opacity: 0.5;
  }
}